boto3
streamlit
pandas
plotly
plotly.express
fsspec>=2024.2.0
s3fs>=2024.2.0
psycopg2-binary
sqlalchemy
altair>=5.2
geopandas>=0.14
shapely>=2.0
folium
streamlit-folium
matplotlib
scikit-learn
seaborn
trino[sqlalchemy]
